{% extends 'tracker/base.html' %}

{% load widget_tweaks %}

{% block title %}
User Registration
{% endblock %}

{% block content %}

<h1>User Registration</h1>

<form action="/tracker/register/" class='form-horizontal' id="registration_form" role='form' method="post">
	
	{% csrf_token %}

	{% for field in form %}
	<div class="form-group">
		<div class="col-sm-10 {% if field.errors %} has-error {% endif %}">
		{% render_field field placeholder=field.label class='form-control' %}
		{% if field.errors %}
		<span class="help-block">{{ field.errors.as_text }}</span>
		{% endif %}
		</div>
	</div>
	{% endfor %}

	<button class="btn btn-default" type="submit">Register</button>

</form>

{% endblock %}