{% load staticfiles %}

<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}Hangman{% endblock %}</title>

	{% block styles %}

	<link rel="stylesheet" href="http://bootswatch.com/cerulean/bootstrap.min.css" type="text/css">

	<style>
		ul li {display: inline-block;}
	</style>

	{% endblock %}

</head>
<body>
<div class='container'>

{% block content %}

<h1>Hangman!</h1>

<div id='game-display' class='jumbotron'>

	<div class='row'>

		<div class='col-md-6'>
			{% if user.is_authenticated %}

			<ul id="blanks">	
				{% for char in game.current_guess %}
					<li>{{char}}</li>
				{% endfor %}
			</ul>

			<ul id="guesses">
				{% for char in game.guessed_letters %}
					<li>{{char}}</li>
				{% endfor %}
			</ul>

			<p>Hits: {{game.hits}}</p>
			<p>Misses: {{game.misses}}</p>

			<p>{{ message }}</p>

		</div>

		<div class='col-md-5'>

			<img src="{% static '' %}hangman/img/hangman{{game.misses}}.png" alt="Hangman pieces created: {{game.misses}}">

		</div>

		<div class="col-md-1">
			
			<p>Games won: {{wins}}</p>
			<p>Games lost: {{losses}}</p>

		</div>

	</div>

	{% if game.win_lose_state == None %}
	<form action="/hangman/" method='post'>

		{% csrf_token %}

		<div class="form-group">
		<input name='letter' maxlength=1 type="text">
		</div>
		<input type="submit" value="Check letter">
	</form>

	{% else %}

	<a href='/hangman/' class='btn btn-default btn-lg active'>Again?</a>

	{% endif %}

	{% else %}

	<h2>Sorry! You must be logged in to play.</h2>

	<a href="/hangman/login" class='btn btn-default btn-lg active'>Login</a>
	<a href="/hangman/register" class='btn btn-default btn-lg active'>Register</a>
	{% endif %}

	{% endblock %}

</div>

{% block scripts %}
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
{% endblock %}

</body>
</html>