<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Hangman</title>

	<link rel="stylesheet" href="http://bootswatch.com/cerulean/bootstrap.min.css" type="text/css">

	<style>
		ul li {display: inline-block;}
	</style>

</head>
<body>
<div class='container'>

<h1>Hangman!</h1>

<div id='game-display' class='jumbotron'>
	<ul id="blanks">	
		{% for char in game.current_guess %}
			<li>{{char}}</li>
		{% endfor %}
	</ul>

	<ul id="guesses">
		{% for char in game.guessed_letters %}
			<li>{{char}}</li>
		{% endfor %}
	</ul>

	<p>Hits: {{game.hits}}</p>
	<p>Misses: {{game.misses}}</p>

	<p>{{ message }}</p>


{% if game.win_lose_state == None %}
<form action="/hangman/" method='post'>

	{% csrf_token %}
	<input name='letter' maxlength=1 type="text">
	<input type="submit" value="Check letter">	
</form>

{% else %}

<a href='/hangman/' class='btn btn-default btn-lg active'>Again?</a>

{% endif %}

</div>
</div>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

</body>
</html>